Server/nodered/.soundandemotion.json.backup
[{"id":"47c08a3a.d98de4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"48a9bc91.9d6334","type":"http in","z":"47c08a3a.d98de4","name":"","url":"/hello-json","method":"post","upload":false,"swaggerDoc":"","x":180,"y":220,"wires":[["87e790b2.6cba5","e9d62970.68f898","d25e6adb.c7d858"]]},{"id":"87e790b2.6cba5","type":"template","z":"47c08a3a.d98de4","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":350,"y":220,"wires":[["aa3c06cb.3a5ec8"]]},{"id":"aa3c06cb.3a5ec8","type":"change","z":"47c08a3a.d98de4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":220,"wires":[["5b98b2ed.2acbec"]]},{"id":"5b98b2ed.2acbec","type":"http response","z":"47c08a3a.d98de4","name":"","x":670,"y":220,"wires":[]},{"id":"e9d62970.68f898","type":"debug","z":"47c08a3a.d98de4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":360,"wires":[]},{"id":"d25e6adb.c7d858","type":"debug","z":"47c08a3a.d98de4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":320,"wires":[]}]