Server/nodered/soundandemotion.json
[{"id":"47c08a3a.d98de4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9715ab15.284ae8","type":"ui_tab","z":"","name":"PickedupSoundRecording","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7e9dc565.78fc8c","type":"ui_group","z":"","name":"Picked up items","tab":"9715ab15.284ae8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4bd4f794.0edc48","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"12","collapse":false},{"id":"7d694164.fa4f7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"267f6e75.033b42","type":"ui_group","z":"","name":"Categorized recordings","tab":"9715ab15.284ae8","order":3,"disp":true,"width":"6","collapse":false},{"id":"6dc24a59.7ee6e4","type":"ui_group","z":"","name":"Uncategorized items","tab":"9715ab15.284ae8","order":1,"disp":true,"width":"6","collapse":false},{"id":"48a9bc91.9d6334","type":"http in","z":"47c08a3a.d98de4","name":"","url":"/gamestate","method":"post","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["87e790b2.6cba5","a9388b8d.85c788","6c902238.ef6dfc","728ee347.6f2fbc","ea8cb481.64d588"]]},{"id":"87e790b2.6cba5","type":"template","z":"47c08a3a.d98de4","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":350,"y":220,"wires":[["aa3c06cb.3a5ec8"]]},{"id":"aa3c06cb.3a5ec8","type":"change","z":"47c08a3a.d98de4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":220,"wires":[["5b98b2ed.2acbec"]]},{"id":"5b98b2ed.2acbec","type":"http response","z":"47c08a3a.d98de4","name":"","x":670,"y":220,"wires":[]},{"id":"cc77c300.5525e","type":"ui_table","z":"47c08a3a.d98de4","group":"7e9dc565.78fc8c","name":"pickedupitemstable","order":2,"width":"6","height":"6","columns":[{"field":"Name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":570,"y":280,"wires":[]},{"id":"a9388b8d.85c788","type":"function","z":"47c08a3a.d98de4","name":"to table data","func":"\nvar names = [];\n\nfor ( var i in msg.payload.pickedUpSoundRecordingNames) {\n    names.push({\"Name\":msg.payload.pickedUpSoundRecordingNames[i]});\n}\n\n\nreturn { \n    payload: names\n    \n};","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["cc77c300.5525e"]]},{"id":"47d1feb3.19426","type":"ui_table","z":"47c08a3a.d98de4","group":"267f6e75.033b42","name":"categorizedrecordings","order":1,"width":"6","height":"8","columns":[{"field":"CategoryName","title":"Category","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"SoundRecordingName","title":"Recording","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":580,"y":340,"wires":[]},{"id":"6c902238.ef6dfc","type":"function","z":"47c08a3a.d98de4","name":"to table data","func":"\nvar rows = [];\n\nfor ( var i in msg.payload.categories) {\n    var category = msg.payload.categories[i];\n    for( var i2 in category.SoundRecordingNames) {\n        var soundrecording = category.SoundRecordingNames[i2];\n        rows.push({\n            \"CategoryName\":category.Name,\n            \"SoundRecordingName\":soundrecording\n        });\n    }\n}\n\n\nreturn { \n    payload: rows\n    \n};","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["47d1feb3.19426"]]},{"id":"728ee347.6f2fbc","type":"debug","z":"47c08a3a.d98de4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":460,"wires":[]},{"id":"ea8cb481.64d588","type":"function","z":"47c08a3a.d98de4","name":"to table data","func":"\nvar names = [];\n\nfor ( var i in msg.payload.unCategorizedSoundRecordingNames) {\n    names.push({\"Name\":msg.payload.unCategorizedSoundRecordingNames[i]});\n}\n\n\nreturn { \n    payload: names\n    \n};","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["1e46a0b4.0c1a4f"]]},{"id":"1e46a0b4.0c1a4f","type":"ui_table","z":"47c08a3a.d98de4","group":"6dc24a59.7ee6e4","name":"uncategorizeditems","order":2,"width":"6","height":"6","columns":[{"field":"Name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":570,"y":400,"wires":[]}]